#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #DBCCB2;
    div{
        font-family: 'PPRightSans-TightMedium';
        width: 100%;
        font-size: 8.4vw;
        line-height: 1;
        position: relative;
    }
    .parallaxs__item__img{
        position: absolute;
        top: 45%;
        right: 20%;
        transform: translateY(-40%);
        width: 10%;
        padding-top: 10%;
        background-image: url("../../img/sec1-1.png");
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        filter: grayscale(100%);
    }
    div > span {
        position: relative;
    }
    
    div > span:hover::before {
        opacity: 1;
    }
    
    div > span::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 1.12vw;
        background-color: black;
        opacity: 0;
        transition: width 0.3s ease;
    }
    
    div > span:hover::before {
        width: 100%;
        opacity: 1;
    }
    
    div > span::after {
        content: "";
        position: absolute;
        width: 50%;
        padding-top: 50%;
        background-image: url('../../img/sec1-1.png');
        background-size: cover;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    div > .ti1::after {
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%) scale(0);
    }
    
    div > .ti2::after {
        top: 100%;
        left: -100%;
        transform: translate(-50%, -50%) scale(0);
    }
    
    div > .ti3::after,
    div > .ti4::after {
        top: 50%;
        left: 150%;
        transform: translate(-50%, -50%) scale(0);
    }
    
    div > .ti5::after {
        top: 10%;
        left: -100%;
        transform: translate(-50%, -50%) scale(0);
    }
    
    div > span:hover::after {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }
}
